<aside class="template-header">
	<div class="header-feature">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		<h3>{{widget('companyname', 'companyname', {"business": "profile"})|raw}}</h3>
		{{widget('profile', 'straplinewidget', { 'profileType': 'strapline' })|raw}}
	</div>
	<div class="header-bottom">
		{{widget('profile', 'footercolumn1profilesocialicons', { 'profileType' : 'socialicons' })|raw}}
	</div>
</aside>
